
@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_MonitoringLayout.cshtml";
}


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ЗАДИАГ</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Ссылка <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Ссылка</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="main_content">
    <div class="container-fluid">
        <div class="col-md-12 content">
            <div class="view-content">
                <table>
                    <tr>
                        <td class="frozen blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="frozen blink"><p>1</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="warning blink"><p>8</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="frozen blink"><p>1</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                    </tr>
                    <tr>
                        <td class="frozen" id="blink"><p>1</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="warning" id="blink"><p>8</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>4</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>6</p></td>
                        <td class="normal"><p>7</p></td>
                        <td class="normal"><p>2</p></td>
                        <td class="normal"><p>3</p></td>
                        <td class="normal"> <p>999</p></td>
                        <td class="normal"><p>5</p></td>
                        <td class="normal"><p>999</p></td>
                        <td class="normal"><p>999</p></td>
                    </tr>
                </table>
            </div>
            <div class="tabs">
                <ul class="nav nav-pills">
                    <li><a href="index.html">АРМ</a></li>
                    <li class="active"><a href="monitoring.html">Мониторинг</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>